/* --------------------- Base Styles -------------------- */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", arial, sans-serif;
}

body {
  height: 90vh;
  background: #e2e2e2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a,
li {
  text-decoration: none;
  list-style: none;
}

h3 {
  font-size: 24px;
}

.btn {
  background: #0A285F;
  border: 3px solid #e2e2e2;
  border-radius: 5px;
  width: 100px;
  height: 50px;
  color: #e2e2e2;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.2s ease;
}
.btn:hover {
  border: 3px solid #FFCC00;
  transform: scale(1.02);
}

/* -------------------- Discover Page ------------------- */
.input-container button {
  width: 100%;
  border: 3px solid transparent;
  border-radius: 5px;
}
.input-container h4 {
  margin: 1.5rem 0;
  text-align: center;
  border-bottom: 2px solid lightgrey;
  height: 0.7rem;
}
.input-container h4 span {
  display: inline-block;
  background: #e2e2e2;
  color: grey;
  padding: 0 1rem;
}
.input-container form {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.input-container form input {
  width: 80%;
  outline: none;
  border: none;
  padding: 0.8rem 0.8rem;
  font-size: 14px;
  font-weight: 500;
  border-radius: 5px 0 0 5px;
}
.input-container form button {
  background: #0A285F;
  color: #e2e2e2;
  border: none;
  border-radius: 0 5px 5px 0;
  width: 20%;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.2s ease;
}
.input-container form button:active {
  color: #FFCC00;
}

/* ----------------------- Loader ----------------------- */
@-webkit-keyframes pulse {
  from {
    transform: scale(0.5);
  }
  to {
    transform: scale(1.5);
  }
}
@keyframes pulse {
  from {
    transform: scale(0.5);
  }
  to {
    transform: scale(1.5);
  }
}
.loader {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -1vh;
  top: 10vh;
  background-color: #0A285F;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.loader-svg {
  font-size: 24rem;
  -webkit-animation-name: pulse;
          animation-name: pulse;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}

/* ----------------------- Header ----------------------- */
.header {
  height: 10vh;
  background: #0A285F;
}

.header-container {
  height: 10vh;
  padding: 1rem;
  align-items: center;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.header-container a {
  width: 25%;
  color: #e2e2e2;
  font-size: 1.5rem;
  transition: all 0.2s ease;
}
.header-container a:hover {
  transform: scale(1.05);
  color: #FFCC00;
}
.header-container div {
  width: 50%;
  display: flex;
  justify-content: center;
}
.header-container div a {
  width: 100%;
  display: flex;
  justify-content: center;
}
.header-container div a img {
  width: 100px;
}
.header-container img {
  width: 20%;
}
.header-container .link-discover {
  display: flex;
  justify-content: flex-end;
}

/* --------------------- Body Layout -------------------- */
.body-container {
  padding: 2rem;
  margin: auto;
}

/* ------------------------ Home ------------------------ */
.pokedex-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
}

.background-image {
  background: url("../assets/images/all-pokemons.png");
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.3;
  filter: blur(1px);
}

.home-content {
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home-content h1 {
  font-size: 64px;
}

/* -------------------- Pokedex Page -------------------- */
.box {
  border: 2px solid transparent;
  border-radius: 1rem;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
  color: #e2e2e2;
  width: 200px;
  height: 300px;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #0A285F;
  transition: all 0.2s ease;
}
.box:hover {
  border: 2px solid #0A285F;
  background: #FFCC00;
  color: black;
  transform: scale(1.1);
}
.box .number small {
  font-weight: bold;
  font-size: 2rem;
}
.box img {
  width: 100%;
  height: 70%;
  padding: 0.5rem;
}

.load-more {
  width: 100%;
  align-self: center;
  height: 4rem;
  font-size: 1.5rem;
}

/* -------------------- Pokemon Page -------------------- */
.card {
  width: 100%;
  background: lightgrey;
  border: 1px solid lightgrey;
  border-radius: 1rem;
  box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 1.5rem;
}

.img-container {
  width: 100%;
  margin: auto;
  background: linear-gradient(45deg, #e2e2e2, #FFCC00);
  border-radius: 1rem;
}
.img-container img {
  width: 100%;
}

.detail-1 {
  width: 100%;
}
.detail-1 .bio h1 {
  margin: 1rem 0.5rem;
}
.detail-1 .bio h1 small {
  color: grey;
}
.detail-1 .bio div {
  display: flex;
  justify-content: space-between;
  padding: 0.25rem 1rem;
}

.detail {
  padding: 0.25rem 1rem;
  margin: 2rem 0;
}
.detail h3 {
  margin-bottom: 0.5rem;
}

.detail-2 div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.detail-3 div {
  margin-bottom: 2rem;
}

.detail-4 div img {
  width: 150px;
}

@media screen and (min-width: 430px) {
  .img-container {
    max-width: 400px;
  }

  .pokedex-container {
    max-width: 100%;
  }
}
@media screen and (min-width: 800px) {
  .header-container {
    max-width: 1200px;
  }
  .header-container div a img {
    width: 200px;
  }

  .body-container {
    max-width: 1200px;
  }

  .pokedex-container {
    width: 1200px;
  }

  .pokemon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .discover-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
  }

  .card {
    max-width: 800px;
    padding-bottom: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .card .detail {
    margin: 0.5rem 0;
  }
  .card .detail-1 {
    grid-column: 1/1;
    grid-row: 1/span 3;
  }
  .card .detail-2 {
    grid-column: 2/2;
    grid-row: 1/1;
  }
  .card .detail-4 {
    grid-column: 2/2;
    grid-row: 2/span 2;
  }
}/*# sourceMappingURL=styles.css.map */